.container header h1{
	font-family: "Oswald";
	font-weight:normal;
	padding: 20px 0 0 0;
	color: #0064CD;
}

body {
	padding: 60px 0 0 0;
}

.status { display: inline-block; height: 12px; width: 0; border:1px solid red; cursor: default; }


.topbar-wrapper h3 a {
	font-family: "Oswald", sans-serif;
}

.field_with_errors input{
	border:1px solid red;
}

.alert-message.error {
	margin:10px 0;
	padding:10px;
}
.alert-message.error li {
	color:#fff;
}
