<div style="background:purple; color:#fff;">
	<h1>Demo#index</h1>
	<p>Hola Mudo!</p>

	<%= 1 + 1 %>

	<%= link_to("link", {:action => 'hello', :id => 1, :number => '5', :page => 11}) %>
	
	<%= image_tag('rails.png') %>
</div>