<!DOCTYPE html>
<html>
<head>
    <title>Pages - Delete</title>
    <link href='http://fonts.googleapis.com/css?family=Oswald|Francois+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.0/build/cssfonts/reset-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.0/build/cssfonts/fonts-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.0/build/cssfonts/base-min.css">
</head>
<body>
<div id="wrapper">
    <h1>Delete Page</h1>
	<%= link_to("< Back to list", {:action => "list"}, :class => "back-link") %>
	<%= form_for(:page, :url => {:action => "destroy", :id => @page.id}) do |f| %>
		<h2>se va a mandar el registro a lo macho?</h2>
		<p><%= @page.name %></p>
		<%= submit_tag("Delete Page") %>	
	<% end %>
</div>
</body>
</html>