	<h1>Add Page</h1>
	
	<%= link_to("< Back to list", {:action => "list"}, :class => "back-link btn") %>
	<%= form_for(:page, :url => {:action => "create"}) do |f| %>
	
		<%= render(:partial => "form", :locals => {:f => f}) %>
		
		<%= submit_tag("Create Page", :class => "btn primary") %>
		
	<% end %>
