	<table>
		<tr>
			<th>Name</th>
			<td><%= f.text_field(:name) %>
		</tr>
		<tr>
			<th>Position</th>
			<td><%= f.text_field(:position) %>
		</tr>
		<tr>
			<th>Visible</th>
			<td><%= f.text_field(:visible) %>
		</tr>
	</table>