<!DOCTYPE html>
<html>
<head>
    <title>Subjects - Delete</title>
</head>
<body>
<div id="wrapper">
    <h1>Update Subject</h1>
	<%= link_to("< Back to list", {:action => "list"}, :class => "back-link") %>
	<%= form_for(:subject, :url => {:action => "destroy", :id => @subject.id}) do |f| %>
		<h2>se va a mandar el registro a lo macho?</h2>
		<p><%= @subject.name %></p>
		<%= submit_tag("Delete Subject") %>	
	<% end %>
</div>
</body>
</html>