      <header>
        <div class="topbar-wrapper">
          <div class="topbar">
            <div class="topbar-inner">
              <div class="container">
                <h3><a href="/">simpleCMS</a></h3>
                <ul class="nav">
                  <li <% if @page_title && @page_title.index("subject") %> class="active" <% end %> >
                    <a href="/subjects">Subjects</a>
                  </li>                	
                  <li <% if @page_title && @page_title.index("page") %> class="active" <% end %> >
                    <a href="/pages">Pages</a>
                  </li>
                  <li <% if @page_title && @page_title.index("section") %> class="active" <% end %> >
                    <a href="/sections">Sections</a>
                  </li>
                  <li>
                    <a href="/demo">Demo</a>
                  </li> 
                </ul>
              </div>
            </div><!-- /topbar-inner -->
          </div><!-- /topbar -->
        </div>
      </header>