      <header>
        <div class="topbar-wrapper">
          <div class="topbar">
            <div class="topbar-inner">
              <div class="container">
                <h3><a href="/">simpleCMS</a></h3>
                <ul class="nav">
                  <li <% if @page_title && @page_title.index("subject") %> class="active" <% end %> >
                    <a href="/subjects">Content</a>
                  </li>                	
                  <li <% if @page_title && @page_title.index("admin_users") %> class="active" <% end %> >
                    <a href="/admin_users">Users</a>
                  </li>                  
                  <li><%= link_to("logout", :action => 'logout') %></li>
                </ul>
              </div>
            </div><!-- /topbar-inner -->
          </div><!-- /topbar -->
        </div>
      </header>