%article.content

  %h2 Bienvenido al simpleCMS!

  %p Lorem ipsum dolor sit amet, iaculis quis volutpat eget, suscipit et metus. Sed mauris ligula, gravida

  %p Pellentesque varius congue nulla, ac dictum massa sodales ac. Integer et enim sem, nec feugiat elit.

  #morenested.ish
    %p Maecenas euismod nibh non nulla imperdiet fringilla. Aliquam convallis lacinia arcu id accumsan.